*.bin
*.npy
*.gz
*.pyc
*.zip
text8
eng_news_2013*
nyt
*.secret
structure/models
structure/truecaser

*.txt
*.bin-py2
*.tar.xz

random/

in_the_NN_counts.json
pos_tag_entire_corpus.sh
section_classification_doc2vec_trainer.py
tabs-from-before-nicar.js


